{% extends "base.html" %}

{% block content %}

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for album in data %}
        <tr>
            <th scope="row">{{album.id}}</th>
            <td><a style="text-decoration: none;" href="{% url "edit_musician" album.musician.id %}">{{ album.musician.firstName }} {{ album.musician.lastName }}</a></td>
            <td>{{ album.musician.email }}</td>
            <td>{{ album.rating }}</td>
            <td>{{ album.musician.instrument_type }}</td>
            <td>{{ album.albumName }}</td>
            <td>{{ album.albumReleaseDate | date:"d-N-Y" }}</td>
            <td>
                <a href="{% url "edit_album" album.id %}" type="button" class="btn btn-warning btn-sm mx-2">Edit</a>
                <a href="{% url "delete_musician" album.musician.id %}" type="button" class="btn btn-danger btn-sm mx-2">Delete</a>
            </td>
        </tr>
        {% endfor %}
      
      
    </tbody>
  </table>

{% endblock content %}